<!DOCTYPE html>

<html lang="en" ng-app="myApp">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> Searchable Drowpdown Menu </title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
	div.dropdownmenubox {
	    width: 400px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    text-align: left;
		
	}
	div.textinput {
	    padding:8px;
	    
	    text-align: center;
	}
	
	</style>
<body ng-controller="menuCtl">
	<div class="dropdownmenubox">
	<div class="textinput">
	<input  type="text" ng-model="menusearch" size="30" style="border:1px;font-size:18px" placeholder="Type job category or click downarrow" onfocus="toggle()" >
   <button onclick="toggle()"> <b> &darr;&darr; </b></button>
   </div>
	<ul id="dropdownmenu" style="display:none;height: 200px; overflow: auto">
	<div ng-repeat="x in configmenu | filter : menusearch " >
		
            <li > <a href="{{x.link}}" ng-bind="x.key" >  </a></li>
  	
	</div>
	</ul>
</div>
<script>

	function toggle() {
		
		value = document.getElementById("dropdownmenu").style.display;
		
		if ( value == "block") {document.getElementById("dropdownmenu").style.display = "none"; }
		else {document.getElementById("dropdownmenu").style.display = "block"; }
	}
 
 var app = angular.module('myApp', []);

 //app.controller('TaskCtrl', 

 app.controller('menuCtl', function($scope) {
  
	 $scope.menusearch = "";
	 $scope.configmenu = 	[
{ "key" : "Accounting/Finance->Accountant"   , "link" :   "/search/label/Accountant" } , 
{ "key" : "Accounting/Finance->Accounting Assistant"   , "link" :   "/search/label/Accounting%20Assistant" } , 
{ "key" : "Accounting/Finance->Accounting Clerk"   , "link" :   "/search/label/Accounting%20Clerk" } , 
{ "key" : "Accounting/Finance->Accounting Manager"   , "link" :   "/search/label/Accounting%20Manager" } , 
{ "key" : "Accounting/Finance->Assistant Controller"   , "link" :   "/search/label/Assistant%20Controller" } , 
{ "key" : "Accounting/Finance->Billing Specialist"   , "link" :   "/search/label/Billing%20Specialist" } , 
{ "key" : "Accounting/Finance->Bookkeeper"   , "link" :   "/search/label/Bookkeeper" } , 
{ "key" : "Accounting/Finance->Budget Analyst"   , "link" :   "/search/label/Budget%20Analyst" } , 
{ "key" : "Accounting/Finance->CNA"   , "link" :   "/search/label/CNA" } , 
{ "key" : "Accounting/Finance->Controller"   , "link" :   "/search/label/Controller" } , 
{ "key" : "Accounting/Finance->Director Of Finance"   , "link" :   "/search/label/Director%20Of%20Finance" } , 
{ "key" : "Accounting/Finance->Finance Manager"   , "link" :   "/search/label/Finance%20Manager" } , 
{ "key" : "Accounting/Finance->Financial Advisor"   , "link" :   "/search/label/Financial%20Advisor" } , 
{ "key" : "Accounting/Finance->Financial Analyst"   , "link" :   "/search/label/Financial%20Analyst" } , 
{ "key" : "Accounting/Finance->Financial Associate"   , "link" :   "/search/label/Financial%20Associate" } , 
{ "key" : "Accounting/Finance->Financial Reporting Manager"   , "link" :   "/search/label/Financial%20Reporting%20Manager" } , 
{ "key" : "Accounting/Finance->Full Charge Bookkeeper"   , "link" :   "/search/label/Full%20Charge%20Bookkeeper" } , 
{ "key" : "Accounting/Finance->General Ledger Accountant"   , "link" :   "/search/label/General%20Ledger%20Accountant" } , 
{ "key" : "Accounting/Finance->Internal Auditor"   , "link" :   "/search/label/Internal%20Auditor" } , 
{ "key" : "Accounting/Finance->Night Auditor"   , "link" :   "/search/label/Night%20Auditor" } , 
{ "key" : "Accounting/Finance->Office Manager Bookkeeper"   , "link" :   "/search/label/Office%20Manager%20Bookkeeper" } , 
{ "key" : "Accounting/Finance->Quantitative Analyst"   , "link" :   "/search/label/Quantitative%20Analyst" } , 
{ "key" : "Accounting/Finance->Quantitative Research Analyst"   , "link" :   "/search/label/Quantitative%20Research%20Analyst" } , 
{ "key" : "Accounting/Finance->Senior Accountant"   , "link" :   "/search/label/Senior%20Accountant" } , 
{ "key" : "Accounting/Finance->Tax Accountant"   , "link" :   "/search/label/Tax%20Accountant" } , 
{ "key" : "Accounting/Finance->Tax Manager"   , "link" :   "/search/label/Tax%20Manager" } , 
{ "key" : "Accounting/Finance->Treasury Analyst"   , "link" :   "/search/label/Treasury%20Analyst" } , 
{ "key" : "Accounting/Finance->VP Director of Finance"   , "link" :   "/search/label/VP%20Director%20of%20Finance" } , 
{ "key" : "Accounting/Finance->VP of Finance"   , "link" :   "/search/label/VP%20of%20Finance" } , 
{ "key" : "Accounting/Finance->WFF USC Credit Manager"   , "link" :   "/search/label/WFF%20USC%20Credit%20Manager" } , 
{ "key" : "Administrative->Accounts Payable Clerk"   , "link" :   "/search/label/Accounts%20Payable%20Clerk" } , 
{ "key" : "Administrative->Accounts Receivable Clerk"   , "link" :   "/search/label/Accounts%20Receivable%20Clerk" } , 
{ "key" : "Administrative->Administrative Assistant"   , "link" :   "/search/label/Administrative%20Assistant" } , 
{ "key" : "Administrative->Assistant Manager"   , "link" :   "/search/label/Assistant%20Manager" } , 
{ "key" : "Administrative->Branch Manager"   , "link" :   "/search/label/Branch%20Manager" } , 
{ "key" : "Administrative->Clerk"   , "link" :   "/search/label/Clerk" } , 
{ "key" : "Administrative->Data Entry Operator"   , "link" :   "/search/label/Data%20Entry%20Operator" } , 
{ "key" : "Administrative->Director of Operations"   , "link" :   "/search/label/Director%20of%20Operations" } , 
{ "key" : "Administrative->District Manager"   , "link" :   "/search/label/District%20Manager" } , 
{ "key" : "Administrative->Executive Administrative Assistant"   , "link" :   "/search/label/Executive%20Administrative%20Assistant" } , 
{ "key" : "Administrative->Executive Assistant"   , "link" :   "/search/label/Executive%20Assistant" } , 
{ "key" : "Administrative->Executive Director"   , "link" :   "/search/label/Executive%20Director" } , 
{ "key" : "Administrative->File Clerk"   , "link" :   "/search/label/File%20Clerk" } , 
{ "key" : "Administrative->Medical Records Clerk"   , "link" :   "/search/label/Medical%20Records%20Clerk" } , 
{ "key" : "Administrative->Office Assistant"   , "link" :   "/search/label/Office%20Assistant" } , 
{ "key" : "Administrative->Office Clerk"   , "link" :   "/search/label/Office%20Clerk" } , 
{ "key" : "Administrative->Office Manager"   , "link" :   "/search/label/Office%20Manager" } , 
{ "key" : "Administrative->Operations Manager"   , "link" :   "/search/label/Operations%20Manager" } , 
{ "key" : "Administrative->Personal Assistant"   , "link" :   "/search/label/Personal%20Assistant" } , 
{ "key" : "Administrative->Product Manager"   , "link" :   "/search/label/Product%20Manager" } , 
{ "key" : "Administrative->Program Coordinator"   , "link" :   "/search/label/Program%20Coordinator" } , 
{ "key" : "Administrative->Program Manager"   , "link" :   "/search/label/Program%20Manager" } , 
{ "key" : "Administrative->Project Coordinator"   , "link" :   "/search/label/Project%20Coordinator" } , 
{ "key" : "Administrative->Project Manager"   , "link" :   "/search/label/Project%20Manager" } , 
{ "key" : "Administrative->Purchasing Agent"   , "link" :   "/search/label/Purchasing%20Agent" } , 
{ "key" : "Administrative->Purchasing Manager"   , "link" :   "/search/label/Purchasing%20Manager" } , 
{ "key" : "Administrative->Receptionist"   , "link" :   "/search/label/Receptionist" } , 
{ "key" : "Administrative->Receptionist Administrative Assistant"   , "link" :   "/search/label/Receptionist%20Administrative%20Assistant" } , 
{ "key" : "Administrative->Secretary"   , "link" :   "/search/label/Secretary" } , 
{ "key" : "Administrative->Territory Manager"   , "link" :   "/search/label/Territory%20Manager" } , 
{ "key" : "Arts/Entertainment/Publishing->Art Director"   , "link" :   "/search/label/Art%20Director" } , 
{ "key" : "Arts/Entertainment/Publishing->Assistant Editor"   , "link" :   "/search/label/Assistant%20Editor" } , 
{ "key" : "Arts/Entertainment/Publishing->Designer"   , "link" :   "/search/label/Designer" } , 
{ "key" : "Arts/Entertainment/Publishing->Editor"   , "link" :   "/search/label/Editor" } , 
{ "key" : "Arts/Entertainment/Publishing->Editorial Assistant"   , "link" :   "/search/label/Editorial%20Assistant" } , 
{ "key" : "Arts/Entertainment/Publishing->Graphic Artist"   , "link" :   "/search/label/Graphic%20Artist" } , 
{ "key" : "Arts/Entertainment/Publishing->Graphic Web Designer"   , "link" :   "/search/label/Graphic%20Web%20Designer" } , 
{ "key" : "Arts/Entertainment/Publishing->Graphics Designer"   , "link" :   "/search/label/Graphics%20Designer" } , 
{ "key" : "Arts/Entertainment/Publishing->Graphics Designer Production Artist"   , "link" :   "/search/label/Graphics%20Designer%20Production%20Artist" } , 
{ "key" : "Arts/Entertainment/Publishing->Illustrator"   , "link" :   "/search/label/Illustrator" } , 
{ "key" : "Arts/Entertainment/Publishing->Journalist"   , "link" :   "/search/label/Journalist" } , 
{ "key" : "Arts/Entertainment/Publishing->News Producer"   , "link" :   "/search/label/News%20Producer" } , 
{ "key" : "Arts/Entertainment/Publishing->News Reporter"   , "link" :   "/search/label/News%20Reporter" } , 
{ "key" : "Arts/Entertainment/Publishing->Photographer"   , "link" :   "/search/label/Photographer" } , 
{ "key" : "Arts/Entertainment/Publishing->Unigraphics Designer"   , "link" :   "/search/label/Unigraphics%20Designer" } , 
{ "key" : "Arts/Entertainment/Publishing->User Interface Designer"   , "link" :   "/search/label/User%20Interface%20Designer" } , 
{ "key" : "Arts/Entertainment/Publishing->Video Editor"   , "link" :   "/search/label/Video%20Editor" } , 
{ "key" : "Arts/Entertainment/Publishing->Writer"   , "link" :   "/search/label/Writer" } , 
{ "key" : "Arts/Entertainment/Publishing->Writer Editor"   , "link" :   "/search/label/Writer%20Editor" } , 
{ "key" : "Arts/Entertainment/Publishing->Zoo Keeper"   , "link" :   "/search/label/Zoo%20Keeper" } , 
{ "key" : "Banking/Loans->Analyst"   , "link" :   "/search/label/Analyst" } , 
{ "key" : "Banking/Loans->Bank Teller"   , "link" :   "/search/label/Bank%20Teller" } , 
{ "key" : "Banking/Loans->Banker"   , "link" :   "/search/label/Banker" } , 
{ "key" : "Banking/Loans->Credit Analyst"   , "link" :   "/search/label/Credit%20Analyst" } , 
{ "key" : "Banking/Loans->Escrow Assistant"   , "link" :   "/search/label/Escrow%20Assistant" } , 
{ "key" : "Banking/Loans->In Store Banker"   , "link" :   "/search/label/In%20Store%20Banker" } , 
{ "key" : "Banking/Loans->Investment Analyst"   , "link" :   "/search/label/Investment%20Analyst" } , 
{ "key" : "Banking/Loans->Loan Consultant"   , "link" :   "/search/label/Loan%20Consultant" } , 
{ "key" : "Banking/Loans->Loan Officer"   , "link" :   "/search/label/Loan%20Officer" } , 
{ "key" : "Banking/Loans->Loan Processor"   , "link" :   "/search/label/Loan%20Processor" } , 
{ "key" : "Banking/Loans->Mortgage Loan Officer"   , "link" :   "/search/label/Mortgage%20Loan%20Officer" } , 
{ "key" : "Banking/Loans->Teller"   , "link" :   "/search/label/Teller" } , 
{ "key" : "Banking/Loans->Underwriter"   , "link" :   "/search/label/Underwriter" } , 
{ "key" : "Banking/Loans->Underwriter Trainee"   , "link" :   "/search/label/Underwriter%20Trainee" } , 
{ "key" : "Banking/Loans->Underwriting Assistant"   , "link" :   "/search/label/Underwriting%20Assistant" } , 
{ "key" : "Banking/Loans->Universal Banker"   , "link" :   "/search/label/Universal%20Banker" } , 
{ "key" : "Computer/Internet->Application Developer"   , "link" :   "/search/label/Application%20Developer" } , 
{ "key" : "Computer/Internet->Business Objects Developer"   , "link" :   "/search/label/Business%20Objects%20Developer" } , 
{ "key" : "Computer/Internet->Business Systems Analyst"   , "link" :   "/search/label/Business%20Systems%20Analyst" } , 
{ "key" : "Computer/Internet->Data Analyst"   , "link" :   "/search/label/Data%20Analyst" } , 
{ "key" : "Computer/Internet->Database Administrator"   , "link" :   "/search/label/Database%20Administrator" } , 
{ "key" : "Computer/Internet->Director Of Development"   , "link" :   "/search/label/Director%20Of%20Development" } , 
{ "key" : "Computer/Internet->Embedded Software Engineer"   , "link" :   "/search/label/Embedded%20Software%20Engineer" } , 
{ "key" : "Computer/Internet->IT Director"   , "link" :   "/search/label/IT%20Director" } , 
{ "key" : "Computer/Internet->IT Manager"   , "link" :   "/search/label/IT%20Manager" } , 
{ "key" : "Computer/Internet->IT Project Manager"   , "link" :   "/search/label/IT%20Project%20Manager" } , 
{ "key" : "Computer/Internet->IT Specialist"   , "link" :   "/search/label/IT%20Specialist" } , 
{ "key" : "Computer/Internet->Informatica Developer"   , "link" :   "/search/label/Informatica%20Developer" } , 
{ "key" : "Computer/Internet->Java Developer"   , "link" :   "/search/label/Java%20Developer" } , 
{ "key" : "Computer/Internet->NET Developer"   , "link" :   "/search/label/NET%20Developer" } , 
{ "key" : "Computer/Internet->Network Administrator"   , "link" :   "/search/label/Network%20Administrator" } , 
{ "key" : "Computer/Internet->Network Engineer"   , "link" :   "/search/label/Network%20Engineer" } , 
{ "key" : "Computer/Internet->Network Technician"   , "link" :   "/search/label/Network%20Technician" } , 
{ "key" : "Computer/Internet->Oracle Database Administrator"   , "link" :   "/search/label/Oracle%20Database%20Administrator" } , 
{ "key" : "Computer/Internet->Oracle Developer"   , "link" :   "/search/label/Oracle%20Developer" } , 
{ "key" : "Computer/Internet->Programmer Analyst"   , "link" :   "/search/label/Programmer%20Analyst" } , 
{ "key" : "Computer/Internet->Software Engineer"   , "link" :   "/search/label/Software%20Engineer" } , 
{ "key" : "Computer/Internet->System Administrator"   , "link" :   "/search/label/System%20Administrator" } , 
{ "key" : "Computer/Internet->Systems Analyst"   , "link" :   "/search/label/Systems%20Analyst" } , 
{ "key" : "Computer/Internet->Systems Engineer"   , "link" :   "/search/label/Systems%20Engineer" } , 
{ "key" : "Computer/Internet->Technical Support Engineer"   , "link" :   "/search/label/Technical%20Support%20Engineer" } , 
{ "key" : "Computer/Internet->Technical Support Specialist"   , "link" :   "/search/label/Technical%20Support%20Specialist" } , 
{ "key" : "Computer/Internet->Unix System Administrator"   , "link" :   "/search/label/Unix%20System%20Administrator" } , 
{ "key" : "Computer/Internet->Web Designer"   , "link" :   "/search/label/Web%20Designer" } , 
{ "key" : "Computer/Internet->Web Developer"   , "link" :   "/search/label/Web%20Developer" } , 
{ "key" : "Computer/Internet->Webmaster"   , "link" :   "/search/label/Webmaster" } , 
{ "key" : "Construction/Facilities->Carpenter"   , "link" :   "/search/label/Carpenter" } , 
{ "key" : "Construction/Facilities->Construction Manager"   , "link" :   "/search/label/Construction%20Manager" } , 
{ "key" : "Construction/Facilities->Construction Superintendent"   , "link" :   "/search/label/Construction%20Superintendent" } , 
{ "key" : "Construction/Facilities->Construction Worker"   , "link" :   "/search/label/Construction%20Worker" } , 
{ "key" : "Construction/Facilities->Custodian"   , "link" :   "/search/label/Custodian" } , 
{ "key" : "Construction/Facilities->Electrician"   , "link" :   "/search/label/Electrician" } , 
{ "key" : "Construction/Facilities->Equipment Operator"   , "link" :   "/search/label/Equipment%20Operator" } , 
{ "key" : "Construction/Facilities->Estimator"   , "link" :   "/search/label/Estimator" } , 
{ "key" : "Construction/Facilities->Facilities Manager"   , "link" :   "/search/label/Facilities%20Manager" } , 
{ "key" : "Construction/Facilities->General Maintenance Technician"   , "link" :   "/search/label/General%20Maintenance%20Technician" } , 
{ "key" : "Construction/Facilities->Groundskeeper"   , "link" :   "/search/label/Groundskeeper" } , 
{ "key" : "Construction/Facilities->HVAC Technician"   , "link" :   "/search/label/HVAC%20Technician" } , 
{ "key" : "Construction/Facilities->Heavy Equipment Operator"   , "link" :   "/search/label/Heavy%20Equipment%20Operator" } , 
{ "key" : "Construction/Facilities->Industrial Designer"   , "link" :   "/search/label/Industrial%20Designer" } , 
{ "key" : "Construction/Facilities->Industrial Electrician"   , "link" :   "/search/label/Industrial%20Electrician" } , 
{ "key" : "Construction/Facilities->Installer"   , "link" :   "/search/label/Installer" } , 
{ "key" : "Construction/Facilities->Interior Designer"   , "link" :   "/search/label/Interior%20Designer" } , 
{ "key" : "Construction/Facilities->Janitor"   , "link" :   "/search/label/Janitor" } , 
{ "key" : "Construction/Facilities->Journeyman Electrician"   , "link" :   "/search/label/Journeyman%20Electrician" } , 
{ "key" : "Construction/Facilities->Journeyman Lineman"   , "link" :   "/search/label/Journeyman%20Lineman" } , 
{ "key" : "Construction/Facilities->Laborer"   , "link" :   "/search/label/Laborer" } , 
{ "key" : "Construction/Facilities->Maintenance Manager"   , "link" :   "/search/label/Maintenance%20Manager" } , 
{ "key" : "Construction/Facilities->Maintenance Mechanic"   , "link" :   "/search/label/Maintenance%20Mechanic" } , 
{ "key" : "Construction/Facilities->Maintenance Supervisor"   , "link" :   "/search/label/Maintenance%20Supervisor" } , 
{ "key" : "Construction/Facilities->Maintenance Technician"   , "link" :   "/search/label/Maintenance%20Technician" } , 
{ "key" : "Construction/Facilities->Maintenance Worker"   , "link" :   "/search/label/Maintenance%20Worker" } , 
{ "key" : "Construction/Facilities->Painter"   , "link" :   "/search/label/Painter" } , 
{ "key" : "Construction/Facilities->Plant Manager"   , "link" :   "/search/label/Plant%20Manager" } , 
{ "key" : "Construction/Facilities->Welder"   , "link" :   "/search/label/Welder" } , 
{ "key" : "Construction/Facilities->Welder Fabricator"   , "link" :   "/search/label/Welder%20Fabricator" } , 
{ "key" : "Customer Service->Branch Customer Service Representative"   , "link" :   "/search/label/Branch%20Customer%20Service%20Representative" } , 
{ "key" : "Customer Service->Customer Service Advisor"   , "link" :   "/search/label/Customer%20Service%20Advisor" } , 
{ "key" : "Customer Service->Customer Service Associate"   , "link" :   "/search/label/Customer%20Service%20Associate" } , 
{ "key" : "Customer Service->Customer Service Manager"   , "link" :   "/search/label/Customer%20Service%20Manager" } , 
{ "key" : "Customer Service->Customer Service Representative"   , "link" :   "/search/label/Customer%20Service%20Representative" } , 
{ "key" : "Customer Service->Desktop Support"   , "link" :   "/search/label/Desktop%20Support" } , 
{ "key" : "Customer Service->Desktop Support Technician"   , "link" :   "/search/label/Desktop%20Support%20Technician" } , 
{ "key" : "Customer Service->Emergency Road Service Counselor"   , "link" :   "/search/label/Emergency%20Road%20Service%20Counselor" } , 
{ "key" : "Customer Service->Field Engineer"   , "link" :   "/search/label/Field%20Engineer" } , 
{ "key" : "Customer Service->Field Service Engineer"   , "link" :   "/search/label/Field%20Service%20Engineer" } , 
{ "key" : "Customer Service->Field Service Representative"   , "link" :   "/search/label/Field%20Service%20Representative" } , 
{ "key" : "Customer Service->Field Service Technician"   , "link" :   "/search/label/Field%20Service%20Technician" } , 
{ "key" : "Customer Service->Field Technician"   , "link" :   "/search/label/Field%20Technician" } , 
{ "key" : "Customer Service->Flight Attendant"   , "link" :   "/search/label/Flight%20Attendant" } , 
{ "key" : "Customer Service->Game Manager"   , "link" :   "/search/label/Game%20Manager" } , 
{ "key" : "Customer Service->General Service Technician"   , "link" :   "/search/label/General%20Service%20Technician" } , 
{ "key" : "Customer Service->Help Desk Analyst"   , "link" :   "/search/label/Help%20Desk%20Analyst" } , 
{ "key" : "Customer Service->Help Desk Specialist"   , "link" :   "/search/label/Help%20Desk%20Specialist" } , 
{ "key" : "Customer Service->Help Desk Technical Support"   , "link" :   "/search/label/Help%20Desk%20Technical%20Support" } , 
{ "key" : "Customer Service->Help Desk Technician"   , "link" :   "/search/label/Help%20Desk%20Technician" } , 
{ "key" : "Customer Service->Lot Attendent"   , "link" :   "/search/label/Lot%20Attendent" } , 
{ "key" : "Customer Service->Relationship Manager"   , "link" :   "/search/label/Relationship%20Manager" } , 
{ "key" : "Customer Service->Retail Customer Support Representative"   , "link" :   "/search/label/Retail%20Customer%20Support%20Representative" } , 
{ "key" : "Customer Service->Sales Engineer"   , "link" :   "/search/label/Sales%20Engineer" } , 
{ "key" : "Customer Service->Service Manager"   , "link" :   "/search/label/Service%20Manager" } , 
{ "key" : "Customer Service->Service Technician"   , "link" :   "/search/label/Service%20Technician" } , 
{ "key" : "Customer Service->Universal Service Representative"   , "link" :   "/search/label/Universal%20Service%20Representative" } , 
{ "key" : "Customer Service->Valet Attendant"   , "link" :   "/search/label/Valet%20Attendant" } , 
{ "key" : "Education/Training->Assistant Teacher"   , "link" :   "/search/label/Assistant%20Teacher" } , 
{ "key" : "Education/Training->Counselor"   , "link" :   "/search/label/Counselor" } , 
{ "key" : "Education/Training->Enrollment Counselor"   , "link" :   "/search/label/Enrollment%20Counselor" } , 
{ "key" : "Education/Training->Guidance Counselor"   , "link" :   "/search/label/Guidance%20Counselor" } , 
{ "key" : "Education/Training->Health Educator"   , "link" :   "/search/label/Health%20Educator" } , 
{ "key" : "Education/Training->Instructional Designer"   , "link" :   "/search/label/Instructional%20Designer" } , 
{ "key" : "Education/Training->Instructor"   , "link" :   "/search/label/Instructor" } , 
{ "key" : "Education/Training->Kids Activity Assistant"   , "link" :   "/search/label/Kids%20Activity%20Assistant" } , 
{ "key" : "Education/Training->Kindergarten Teacher"   , "link" :   "/search/label/Kindergarten%20Teacher" } , 
{ "key" : "Education/Training->Korean Language Instructor"   , "link" :   "/search/label/Korean%20Language%20Instructor" } , 
{ "key" : "Education/Training->Nanny"   , "link" :   "/search/label/Nanny" } , 
{ "key" : "Education/Training->Teacher"   , "link" :   "/search/label/Teacher" } , 
{ "key" : "Education/Training->Technical Trainer"   , "link" :   "/search/label/Technical%20Trainer" } , 
{ "key" : "Education/Training->Technical Writer"   , "link" :   "/search/label/Technical%20Writer" } , 
{ "key" : "Education/Training->Trainer"   , "link" :   "/search/label/Trainer" } , 
{ "key" : "Education/Training->Training Coordinator"   , "link" :   "/search/label/Training%20Coordinator" } , 
{ "key" : "Education/Training->Training Manager"   , "link" :   "/search/label/Training%20Manager" } , 
{ "key" : "Education/Training->Training Specialist"   , "link" :   "/search/label/Training%20Specialist" } , 
{ "key" : "Education/Training->Yoga Instructor"   , "link" :   "/search/label/Yoga%20Instructor" } , 
{ "key" : "Engineering/Architecture->Architect"   , "link" :   "/search/label/Architect" } , 
{ "key" : "Engineering/Architecture->Civil Engineer"   , "link" :   "/search/label/Civil%20Engineer" } , 
{ "key" : "Engineering/Architecture->Design Engineer"   , "link" :   "/search/label/Design%20Engineer" } , 
{ "key" : "Engineering/Architecture->Electrical Designer"   , "link" :   "/search/label/Electrical%20Designer" } , 
{ "key" : "Engineering/Architecture->Electrical Engineer"   , "link" :   "/search/label/Electrical%20Engineer" } , 
{ "key" : "Engineering/Architecture->Electronics Engineer"   , "link" :   "/search/label/Electronics%20Engineer" } , 
{ "key" : "Engineering/Architecture->Engineer"   , "link" :   "/search/label/Engineer" } , 
{ "key" : "Engineering/Architecture->Engineering Manager"   , "link" :   "/search/label/Engineering%20Manager" } , 
{ "key" : "Engineering/Architecture->Engineering Technician"   , "link" :   "/search/label/Engineering%20Technician" } , 
{ "key" : "Engineering/Architecture->Environmental Engineer"   , "link" :   "/search/label/Environmental%20Engineer" } , 
{ "key" : "Engineering/Architecture->GIS Analyst"   , "link" :   "/search/label/GIS%20Analyst" } , 
{ "key" : "Engineering/Architecture->GIS Specialist"   , "link" :   "/search/label/GIS%20Specialist" } , 
{ "key" : "Engineering/Architecture->GIS Technician"   , "link" :   "/search/label/GIS%20Technician" } , 
{ "key" : "Engineering/Architecture->General Engineer"   , "link" :   "/search/label/General%20Engineer" } , 
{ "key" : "Engineering/Architecture->Geographer"   , "link" :   "/search/label/Geographer" } , 
{ "key" : "Engineering/Architecture->Geologist"   , "link" :   "/search/label/Geologist" } , 
{ "key" : "Engineering/Architecture->Geotechnical Engineer"   , "link" :   "/search/label/Geotechnical%20Engineer" } , 
{ "key" : "Engineering/Architecture->Hardware Design Engineer"   , "link" :   "/search/label/Hardware%20Design%20Engineer" } , 
{ "key" : "Engineering/Architecture->Hardware Engineer"   , "link" :   "/search/label/Hardware%20Engineer" } , 
{ "key" : "Engineering/Architecture->Industrial Engineer"   , "link" :   "/search/label/Industrial%20Engineer" } , 
{ "key" : "Engineering/Architecture->Mechanical Design Engineer"   , "link" :   "/search/label/Mechanical%20Design%20Engineer" } , 
{ "key" : "Engineering/Architecture->Mechanical Engineer"   , "link" :   "/search/label/Mechanical%20Engineer" } , 
{ "key" : "Engineering/Architecture->Operations Research Analyst"   , "link" :   "/search/label/Operations%20Research%20Analyst" } , 
{ "key" : "Engineering/Architecture->Optical Engineer"   , "link" :   "/search/label/Optical%20Engineer" } , 
{ "key" : "Engineering/Architecture->Process Engineer"   , "link" :   "/search/label/Process%20Engineer" } , 
{ "key" : "Engineering/Architecture->Project Engineer"   , "link" :   "/search/label/Project%20Engineer" } , 
{ "key" : "Engineering/Architecture->Scientist"   , "link" :   "/search/label/Scientist" } , 
{ "key" : "Engineering/Architecture->Test Engineer"   , "link" :   "/search/label/Test%20Engineer" } , 
{ "key" : "Engineering/Architecture->Ultrasound Technician"   , "link" :   "/search/label/Ultrasound%20Technician" } , 
{ "key" : "Engineering/Architecture->VP Of Engineering"   , "link" :   "/search/label/VP%20Of%20Engineering" } , 
{ "key" : "Government/Military->Environmental Scientist"   , "link" :   "/search/label/Environmental%20Scientist" } , 
{ "key" : "Government/Military->Federal Government Worker"   , "link" :   "/search/label/Federal%20Government%20Worker" } , 
{ "key" : "Government/Military->Firefighter"   , "link" :   "/search/label/Firefighter" } , 
{ "key" : "Government/Military->Grant Writer"   , "link" :   "/search/label/Grant%20Writer" } , 
{ "key" : "Government/Military->Intelligence Analyst"   , "link" :   "/search/label/Intelligence%20Analyst" } , 
{ "key" : "Government/Military->Lifeguard"   , "link" :   "/search/label/Lifeguard" } , 
{ "key" : "Government/Military->USAR Unit Administrator"   , "link" :   "/search/label/USAR%20Unit%20Administrator" } , 
{ "key" : "Government/Military->Wildlife Biologist"   , "link" :   "/search/label/Wildlife%20Biologist" } , 
{ "key" : "Government/Military->Zipsort Operator"   , "link" :   "/search/label/Zipsort%20Operator" } , 
{ "key" : "Government/Military->Zoning Enforcement Inspector"   , "link" :   "/search/label/Zoning%20Enforcement%20Inspector" } , 
{ "key" : "Government/Military->Zoning Manager"   , "link" :   "/search/label/Zoning%20Manager" } , 
{ "key" : "Government/Military->Zoning Specialist"   , "link" :   "/search/label/Zoning%20Specialist" } , 
{ "key" : "Government/Military->Zoning Supervisor"   , "link" :   "/search/label/Zoning%20Supervisor" } , 
{ "key" : "Healthcare->Case Manager"   , "link" :   "/search/label/Case%20Manager" } , 
{ "key" : "Healthcare->Dental Assistant"   , "link" :   "/search/label/Dental%20Assistant" } , 
{ "key" : "Healthcare->Dental Hygienist"   , "link" :   "/search/label/Dental%20Hygienist" } , 
{ "key" : "Healthcare->Director of Nursing"   , "link" :   "/search/label/Director%20of%20Nursing" } , 
{ "key" : "Healthcare->Health Unit Coordinator"   , "link" :   "/search/label/Health%20Unit%20Coordinator" } , 
{ "key" : "Healthcare->Home Health Aide"   , "link" :   "/search/label/Home%20Health%20Aide" } , 
{ "key" : "Healthcare->Massage Therapist"   , "link" :   "/search/label/Massage%20Therapist" } , 
{ "key" : "Healthcare->Medical Assistant"   , "link" :   "/search/label/Medical%20Assistant" } , 
{ "key" : "Healthcare->Medical Receptionist"   , "link" :   "/search/label/Medical%20Receptionist" } , 
{ "key" : "Healthcare->Medical Technologist"   , "link" :   "/search/label/Medical%20Technologist" } , 
{ "key" : "Healthcare->Medical Worker"   , "link" :   "/search/label/Medical%20Worker" } , 
{ "key" : "Healthcare->Nuclear Medicine Technologist"   , "link" :   "/search/label/Nuclear%20Medicine%20Technologist" } , 
{ "key" : "Healthcare->Nurse"   , "link" :   "/search/label/Nurse" } , 
{ "key" : "Healthcare->Nurse Assistant"   , "link" :   "/search/label/Nurse%20Assistant" } , 
{ "key" : "Healthcare->Nurse LVN"   , "link" :   "/search/label/Nurse%20LVN" } , 
{ "key" : "Healthcare->Nurse Practitioner"   , "link" :   "/search/label/Nurse%20Practitioner" } , 
{ "key" : "Healthcare->Nurse RN"   , "link" :   "/search/label/Nurse%20RN" } , 
{ "key" : "Healthcare->Nursing Assistant"   , "link" :   "/search/label/Nursing%20Assistant" } , 
{ "key" : "Healthcare->Nutritionist"   , "link" :   "/search/label/Nutritionist" } , 
{ "key" : "Healthcare->Occupational Therapist"   , "link" :   "/search/label/Occupational%20Therapist" } , 
{ "key" : "Healthcare->Phlebotomist"   , "link" :   "/search/label/Phlebotomist" } , 
{ "key" : "Healthcare->Physical Therapist"   , "link" :   "/search/label/Physical%20Therapist" } , 
{ "key" : "Healthcare->Physician Assistant"   , "link" :   "/search/label/Physician%20Assistant" } , 
{ "key" : "Healthcare->Respiratory Therapist"   , "link" :   "/search/label/Respiratory%20Therapist" } , 
{ "key" : "Healthcare->Social Worker"   , "link" :   "/search/label/Social%20Worker" } , 
{ "key" : "Healthcare->Unit Clerk"   , "link" :   "/search/label/Unit%20Clerk" } , 
{ "key" : "Healthcare->Unit Secretary"   , "link" :   "/search/label/Unit%20Secretary" } , 
{ "key" : "Healthcare->Veterinary Receptionist"   , "link" :   "/search/label/Veterinary%20Receptionist" } , 
{ "key" : "Healthcare->Veterinary Technician"   , "link" :   "/search/label/Veterinary%20Technician" } , 
{ "key" : "Healthcare->Vocational Rehabilitation Counselor"   , "link" :   "/search/label/Vocational%20Rehabilitation%20Counselor" } , 
{ "key" : "Hospitality/Travel->Banquet Manager"   , "link" :   "/search/label/Banquet%20Manager" } , 
{ "key" : "Hospitality/Travel->Event Manager"   , "link" :   "/search/label/Event%20Manager" } , 
{ "key" : "Hospitality/Travel->Event Planner"   , "link" :   "/search/label/Event%20Planner" } , 
{ "key" : "Hospitality/Travel->Floral Designer"   , "link" :   "/search/label/Floral%20Designer" } , 
{ "key" : "Hospitality/Travel->Greeter"   , "link" :   "/search/label/Greeter" } , 
{ "key" : "Hospitality/Travel->Guest Service Agent"   , "link" :   "/search/label/Guest%20Service%20Agent" } , 
{ "key" : "Hospitality/Travel->Housekeeper"   , "link" :   "/search/label/Housekeeper" } , 
{ "key" : "Hospitality/Travel->Kennel Assistant"   , "link" :   "/search/label/Kennel%20Assistant" } , 
{ "key" : "Hospitality/Travel->Kennel Attendant"   , "link" :   "/search/label/Kennel%20Attendant" } , 
{ "key" : "Hospitality/Travel->Kennel Technician"   , "link" :   "/search/label/Kennel%20Technician" } , 
{ "key" : "Hospitality/Travel->Travel Agent"   , "link" :   "/search/label/Travel%20Agent" } , 
{ "key" : "Human Resources->Director Of Human Resources"   , "link" :   "/search/label/Director%20Of%20Human%20Resources" } , 
{ "key" : "Human Resources->Executive Recruiter"   , "link" :   "/search/label/Executive%20Recruiter" } , 
{ "key" : "Human Resources->HR Administrator"   , "link" :   "/search/label/HR%20Administrator" } , 
{ "key" : "Human Resources->HR Consultant"   , "link" :   "/search/label/HR%20Consultant" } , 
{ "key" : "Human Resources->HR Coordinator"   , "link" :   "/search/label/HR%20Coordinator" } , 
{ "key" : "Human Resources->HR Generalist"   , "link" :   "/search/label/HR%20Generalist" } , 
{ "key" : "Human Resources->HR Manager"   , "link" :   "/search/label/HR%20Manager" } , 
{ "key" : "Human Resources->HR Recruiter"   , "link" :   "/search/label/HR%20Recruiter" } , 
{ "key" : "Human Resources->HR Representative"   , "link" :   "/search/label/HR%20Representative" } , 
{ "key" : "Human Resources->HR Specialist"   , "link" :   "/search/label/HR%20Specialist" } , 
{ "key" : "Human Resources->Job Coach"   , "link" :   "/search/label/Job%20Coach" } , 
{ "key" : "Human Resources->Recruiter"   , "link" :   "/search/label/Recruiter" } , 
{ "key" : "Human Resources->Recruiting Coordinator"   , "link" :   "/search/label/Recruiting%20Coordinator" } , 
{ "key" : "Human Resources->Recruiting Manager"   , "link" :   "/search/label/Recruiting%20Manager" } , 
{ "key" : "Human Resources->Technical Recruiter"   , "link" :   "/search/label/Technical%20Recruiter" } , 
{ "key" : "Human Resources->VP of Human Resources"   , "link" :   "/search/label/VP%20of%20Human%20Resources" } , 
{ "key" : "Insurance->Benefits Administrator"   , "link" :   "/search/label/Benefits%20Administrator" } , 
{ "key" : "Insurance->Benefits Manager"   , "link" :   "/search/label/Benefits%20Manager" } , 
{ "key" : "Insurance->Benefits Specialist"   , "link" :   "/search/label/Benefits%20Specialist" } , 
{ "key" : "Insurance->Field Investigator"   , "link" :   "/search/label/Field%20Investigator" } , 
{ "key" : "Insurance->Fraud Investigator"   , "link" :   "/search/label/Fraud%20Investigator" } , 
{ "key" : "Insurance->Inspector"   , "link" :   "/search/label/Inspector" } , 
{ "key" : "Insurance->Insurance Agent"   , "link" :   "/search/label/Insurance%20Agent" } , 
{ "key" : "Insurance->Insurance Sales Representative"   , "link" :   "/search/label/Insurance%20Sales%20Representative" } , 
{ "key" : "Insurance->Investigator"   , "link" :   "/search/label/Investigator" } , 
{ "key" : "Insurance->Lead Asset Protection Associate"   , "link" :   "/search/label/Lead%20Asset%20Protection%20Associate" } , 
{ "key" : "Law Enforcement/Security->Criminal Investigator"   , "link" :   "/search/label/Criminal%20Investigator" } , 
{ "key" : "Law Enforcement/Security->International Police Officer"   , "link" :   "/search/label/International%20Police%20Officer" } , 
{ "key" : "Law Enforcement/Security->Juvenile Detention Officer"   , "link" :   "/search/label/Juvenile%20Detention%20Officer" } , 
{ "key" : "Law Enforcement/Security->Juvenile Probation Officer"   , "link" :   "/search/label/Juvenile%20Probation%20Officer" } , 
{ "key" : "Law Enforcement/Security->Loss Prevention Investigator"   , "link" :   "/search/label/Loss%20Prevention%20Investigator" } , 
{ "key" : "Law Enforcement/Security->Loss Prevention Manager"   , "link" :   "/search/label/Loss%20Prevention%20Manager" } , 
{ "key" : "Law Enforcement/Security->Police Officer"   , "link" :   "/search/label/Police%20Officer" } , 
{ "key" : "Law Enforcement/Security->Security Guard"   , "link" :   "/search/label/Security%20Guard" } , 
{ "key" : "Law Enforcement/Security->Security Officer"   , "link" :   "/search/label/Security%20Officer" } , 
{ "key" : "Law Enforcement/Security->Transportation Security Officer"   , "link" :   "/search/label/Transportation%20Security%20Officer" } , 
{ "key" : "Law Enforcement/Security->Unarmed Security Guard"   , "link" :   "/search/label/Unarmed%20Security%20Guard" } , 
{ "key" : "Legal->Attorney"   , "link" :   "/search/label/Attorney" } , 
{ "key" : "Legal->General Counsel"   , "link" :   "/search/label/General%20Counsel" } , 
{ "key" : "Legal->Judge Advocate"   , "link" :   "/search/label/Judge%20Advocate" } , 
{ "key" : "Legal->Legal Administrative Assistant"   , "link" :   "/search/label/Legal%20Administrative%20Assistant" } , 
{ "key" : "Legal->Legal Assistant"   , "link" :   "/search/label/Legal%20Assistant" } , 
{ "key" : "Legal->Legal Secretary"   , "link" :   "/search/label/Legal%20Secretary" } , 
{ "key" : "Legal->Litigation Attorney"   , "link" :   "/search/label/Litigation%20Attorney" } , 
{ "key" : "Legal->Litigation Paralegal"   , "link" :   "/search/label/Litigation%20Paralegal" } , 
{ "key" : "Legal->Paralegal"   , "link" :   "/search/label/Paralegal" } , 
{ "key" : "Manufacturing/Mechanical->Assembler"   , "link" :   "/search/label/Assembler" } , 
{ "key" : "Manufacturing/Mechanical->Autocad Drafter"   , "link" :   "/search/label/Autocad%20Drafter" } , 
{ "key" : "Manufacturing/Mechanical->Automotive Technician"   , "link" :   "/search/label/Automotive%20Technician" } , 
{ "key" : "Manufacturing/Mechanical->CNC Machinist"   , "link" :   "/search/label/CNC%20Machinist" } , 
{ "key" : "Manufacturing/Mechanical->Chemist"   , "link" :   "/search/label/Chemist" } , 
{ "key" : "Manufacturing/Mechanical->Drafter"   , "link" :   "/search/label/Drafter" } , 
{ "key" : "Manufacturing/Mechanical->Electronic Assembler"   , "link" :   "/search/label/Electronic%20Assembler" } , 
{ "key" : "Manufacturing/Mechanical->Electronics Technician"   , "link" :   "/search/label/Electronics%20Technician" } , 
{ "key" : "Manufacturing/Mechanical->Machine Operator"   , "link" :   "/search/label/Machine%20Operator" } , 
{ "key" : "Manufacturing/Mechanical->Machinist"   , "link" :   "/search/label/Machinist" } , 
{ "key" : "Manufacturing/Mechanical->Manufacturing Engineer"   , "link" :   "/search/label/Manufacturing%20Engineer" } , 
{ "key" : "Manufacturing/Mechanical->Material Handler"   , "link" :   "/search/label/Material%20Handler" } , 
{ "key" : "Manufacturing/Mechanical->Operator"   , "link" :   "/search/label/Operator" } , 
{ "key" : "Manufacturing/Mechanical->Production Assistant"   , "link" :   "/search/label/Production%20Assistant" } , 
{ "key" : "Manufacturing/Mechanical->Production Manager"   , "link" :   "/search/label/Production%20Manager" } , 
{ "key" : "Manufacturing/Mechanical->Production Supervisor"   , "link" :   "/search/label/Production%20Supervisor" } , 
{ "key" : "Manufacturing/Mechanical->Production Worker"   , "link" :   "/search/label/Production%20Worker" } , 
{ "key" : "Manufacturing/Mechanical->QA Analyst"   , "link" :   "/search/label/QA%20Analyst" } , 
{ "key" : "Manufacturing/Mechanical->QA Engineer"   , "link" :   "/search/label/QA%20Engineer" } , 
{ "key" : "Manufacturing/Mechanical->QA Specialist"   , "link" :   "/search/label/QA%20Specialist" } , 
{ "key" : "Manufacturing/Mechanical->QA Tester"   , "link" :   "/search/label/QA%20Tester" } , 
{ "key" : "Manufacturing/Mechanical->Quality Control Inspector"   , "link" :   "/search/label/Quality%20Control%20Inspector" } , 
{ "key" : "Manufacturing/Mechanical->Quality Engineer"   , "link" :   "/search/label/Quality%20Engineer" } , 
{ "key" : "Manufacturing/Mechanical->Research Analyst"   , "link" :   "/search/label/Research%20Analyst" } , 
{ "key" : "Manufacturing/Mechanical->Research Assistant"   , "link" :   "/search/label/Research%20Assistant" } , 
{ "key" : "Manufacturing/Mechanical->Research Associate"   , "link" :   "/search/label/Research%20Associate" } , 
{ "key" : "Manufacturing/Mechanical->Research Scientist"   , "link" :   "/search/label/Research%20Scientist" } , 
{ "key" : "Manufacturing/Mechanical->Safety Manager"   , "link" :   "/search/label/Safety%20Manager" } , 
{ "key" : "Manufacturing/Mechanical->Technician"   , "link" :   "/search/label/Technician" } , 
{ "key" : "Manufacturing/Mechanical->Test Technician"   , "link" :   "/search/label/Test%20Technician" } , 
{ "key" : "Marketing/Advertising/PR->Brand Manager"   , "link" :   "/search/label/Brand%20Manager" } , 
{ "key" : "Marketing/Advertising/PR->Copywriter"   , "link" :   "/search/label/Copywriter" } , 
{ "key" : "Marketing/Advertising/PR->Director Of Communication"   , "link" :   "/search/label/Director%20Of%20Communication" } , 
{ "key" : "Marketing/Advertising/PR->Director Of Marketing"   , "link" :   "/search/label/Director%20Of%20Marketing" } , 
{ "key" : "Marketing/Advertising/PR->Market Research Analyst"   , "link" :   "/search/label/Market%20Research%20Analyst" } , 
{ "key" : "Marketing/Advertising/PR->Marketing Assistant"   , "link" :   "/search/label/Marketing%20Assistant" } , 
{ "key" : "Marketing/Advertising/PR->Marketing Associate"   , "link" :   "/search/label/Marketing%20Associate" } , 
{ "key" : "Marketing/Advertising/PR->Marketing Coordinator"   , "link" :   "/search/label/Marketing%20Coordinator" } , 
{ "key" : "Marketing/Advertising/PR->Marketing Manager"   , "link" :   "/search/label/Marketing%20Manager" } , 
{ "key" : "Marketing/Advertising/PR->Marketing Specialist"   , "link" :   "/search/label/Marketing%20Specialist" } , 
{ "key" : "Marketing/Advertising/PR->Online Marketing Manager"   , "link" :   "/search/label/Online%20Marketing%20Manager" } , 
{ "key" : "Marketing/Advertising/PR->Product Marketing Manager"   , "link" :   "/search/label/Product%20Marketing%20Manager" } , 
{ "key" : "Marketing/Advertising/PR->Public Relations Manager"   , "link" :   "/search/label/Public%20Relations%20Manager" } , 
{ "key" : "Marketing/Advertising/PR->VP of Marketing"   , "link" :   "/search/label/VP%20of%20Marketing" } , 
{ "key" : "Non-Profit/Volunteering->Community Volunteer"   , "link" :   "/search/label/Community%20Volunteer" } , 
{ "key" : "Non-Profit/Volunteering->Red Cross"   , "link" :   "/search/label/Red%20Cross" } , 
{ "key" : "Non-Profit/Volunteering->Special Events Coordinator"   , "link" :   "/search/label/Special%20Events%20Coordinator" } , 
{ "key" : "Non-Profit/Volunteering->Volunteer Coordinator"   , "link" :   "/search/label/Volunteer%20Coordinator" } , 
{ "key" : "Non-Profit/Volunteering->Volunteer Recruiter"   , "link" :   "/search/label/Volunteer%20Recruiter" } , 
{ "key" : "Non-Profit/Volunteering->Youth Advocate"   , "link" :   "/search/label/Youth%20Advocate" } , 
{ "key" : "Non-Profit/Volunteering->Youth Care Specialist"   , "link" :   "/search/label/Youth%20Care%20Specialist" } , 
{ "key" : "Non-Profit/Volunteering->Youth Care Worker"   , "link" :   "/search/label/Youth%20Care%20Worker" } , 
{ "key" : "Non-Profit/Volunteering->Youth Coordinator"   , "link" :   "/search/label/Youth%20Coordinator" } , 
{ "key" : "Non-Profit/Volunteering->Youth Counselor"   , "link" :   "/search/label/Youth%20Counselor" } , 
{ "key" : "Non-Profit/Volunteering->Youth Development Manager"   , "link" :   "/search/label/Youth%20Development%20Manager" } , 
{ "key" : "Non-Profit/Volunteering->Youth Development Specialist"   , "link" :   "/search/label/Youth%20Development%20Specialist" } , 
{ "key" : "Non-Profit/Volunteering->Youth Leader"   , "link" :   "/search/label/Youth%20Leader" } , 
{ "key" : "Non-Profit/Volunteering->Youth Program Coordinator"   , "link" :   "/search/label/Youth%20Program%20Coordinator" } , 
{ "key" : "Non-Profit/Volunteering->Youth Program Director"   , "link" :   "/search/label/Youth%20Program%20Director" } , 
{ "key" : "Non-Profit/Volunteering->Youth Specialist"   , "link" :   "/search/label/Youth%20Specialist" } , 
{ "key" : "Non-Profit/Volunteering->Youth Worker"   , "link" :   "/search/label/Youth%20Worker" } , 
{ "key" : "Pharmaceutical/Bio-tech->Analytical Chemist"   , "link" :   "/search/label/Analytical%20Chemist" } , 
{ "key" : "Pharmaceutical/Bio-tech->Lab Assistant"   , "link" :   "/search/label/Lab%20Assistant" } , 
{ "key" : "Pharmaceutical/Bio-tech->Lab Technician"   , "link" :   "/search/label/Lab%20Technician" } , 
{ "key" : "Pharmaceutical/Bio-tech->Pharmaceutical Sales Representative"   , "link" :   "/search/label/Pharmaceutical%20Sales%20Representative" } , 
{ "key" : "Pharmaceutical/Bio-tech->Pharmacist"   , "link" :   "/search/label/Pharmacist" } , 
{ "key" : "Pharmaceutical/Bio-tech->Pharmacy Technician"   , "link" :   "/search/label/Pharmacy%20Technician" } , 
{ "key" : "Real Estate->Assistant Property Manager"   , "link" :   "/search/label/Assistant%20Property%20Manager" } , 
{ "key" : "Real Estate->Land Surveyor"   , "link" :   "/search/label/Land%20Surveyor" } , 
{ "key" : "Real Estate->Lease Administrator"   , "link" :   "/search/label/Lease%20Administrator" } , 
{ "key" : "Real Estate->Leasing Agent"   , "link" :   "/search/label/Leasing%20Agent" } , 
{ "key" : "Real Estate->Leasing Consultant"   , "link" :   "/search/label/Leasing%20Consultant" } , 
{ "key" : "Real Estate->Property Manager"   , "link" :   "/search/label/Property%20Manager" } , 
{ "key" : "Real Estate->Real Estate Appraiser"   , "link" :   "/search/label/Real%20Estate%20Appraiser" } , 
{ "key" : "Restaurant/Food Service->Baker"   , "link" :   "/search/label/Baker" } , 
{ "key" : "Restaurant/Food Service->Bartender"   , "link" :   "/search/label/Bartender" } , 
{ "key" : "Restaurant/Food Service->Cook"   , "link" :   "/search/label/Cook" } , 
{ "key" : "Restaurant/Food Service->Dishwasher"   , "link" :   "/search/label/Dishwasher" } , 
{ "key" : "Restaurant/Food Service->Executive Chef"   , "link" :   "/search/label/Executive%20Chef" } , 
{ "key" : "Restaurant/Food Service->Food Service Worker"   , "link" :   "/search/label/Food%20Service%20Worker" } , 
{ "key" : "Restaurant/Food Service->Grill Cook"   , "link" :   "/search/label/Grill%20Cook" } , 
{ "key" : "Restaurant/Food Service->Kitchen Assistant"   , "link" :   "/search/label/Kitchen%20Assistant" } , 
{ "key" : "Restaurant/Food Service->Kitchen Bath Department Supervisor"   , "link" :   "/search/label/Kitchen%20Bath%20Department%20Supervisor" } , 
{ "key" : "Restaurant/Food Service->Kitchen Designer"   , "link" :   "/search/label/Kitchen%20Designer" } , 
{ "key" : "Restaurant/Food Service->Kitchen Helper"   , "link" :   "/search/label/Kitchen%20Helper" } , 
{ "key" : "Restaurant/Food Service->Kitchen Manager"   , "link" :   "/search/label/Kitchen%20Manager" } , 
{ "key" : "Restaurant/Food Service->Kitchen Staff"   , "link" :   "/search/label/Kitchen%20Staff" } , 
{ "key" : "Restaurant/Food Service->Kitchen Steward"   , "link" :   "/search/label/Kitchen%20Steward" } , 
{ "key" : "Restaurant/Food Service->Kitchen Supervisor"   , "link" :   "/search/label/Kitchen%20Supervisor" } , 
{ "key" : "Restaurant/Food Service->Kitchen Worker"   , "link" :   "/search/label/Kitchen%20Worker" } , 
{ "key" : "Restaurant/Food Service->Line Cook"   , "link" :   "/search/label/Line%20Cook" } , 
{ "key" : "Restaurant/Food Service->Restaurant Bartender"   , "link" :   "/search/label/Restaurant%20Bartender" } , 
{ "key" : "Restaurant/Food Service->Restaurant Manager"   , "link" :   "/search/label/Restaurant%20Manager" } , 
{ "key" : "Restaurant/Food Service->Restaurant Worker"   , "link" :   "/search/label/Restaurant%20Worker" } , 
{ "key" : "Restaurant/Food Service->Sous Chef"   , "link" :   "/search/label/Sous%20Chef" } , 
{ "key" : "Restaurant/Food Service->Wait Staff"   , "link" :   "/search/label/Wait%20Staff" } , 
{ "key" : "Retail->Assistant Store Manager"   , "link" :   "/search/label/Assistant%20Store%20Manager" } , 
{ "key" : "Retail->Buyer"   , "link" :   "/search/label/Buyer" } , 
{ "key" : "Retail->Buyer Planner"   , "link" :   "/search/label/Buyer%20Planner" } , 
{ "key" : "Retail->Cashier"   , "link" :   "/search/label/Cashier" } , 
{ "key" : "Retail->Esthetician"   , "link" :   "/search/label/Esthetician" } , 
{ "key" : "Retail->Footwear Associate"   , "link" :   "/search/label/Footwear%20Associate" } , 
{ "key" : "Retail->Garden Sales Associate"   , "link" :   "/search/label/Garden%20Sales%20Associate" } , 
{ "key" : "Retail->Grooming Salon Manager"   , "link" :   "/search/label/Grooming%20Salon%20Manager" } , 
{ "key" : "Retail->Hair Stylist"   , "link" :   "/search/label/Hair%20Stylist" } , 
{ "key" : "Retail->Head Cashier"   , "link" :   "/search/label/Head%20Cashier" } , 
{ "key" : "Retail->Jeweler"   , "link" :   "/search/label/Jeweler" } , 
{ "key" : "Retail->Key Holder"   , "link" :   "/search/label/Key%20Holder" } , 
{ "key" : "Retail->Kitchen Bath Sales Associate"   , "link" :   "/search/label/Kitchen%20Bath%20Sales%20Associate" } , 
{ "key" : "Retail->Night Manager"   , "link" :   "/search/label/Night%20Manager" } , 
{ "key" : "Retail->Representative Retail Sales"   , "link" :   "/search/label/Representative%20Retail%20Sales" } , 
{ "key" : "Retail->Retail Sales Associate"   , "link" :   "/search/label/Retail%20Sales%20Associate" } , 
{ "key" : "Retail->Retail Sales Representative"   , "link" :   "/search/label/Retail%20Sales%20Representative" } , 
{ "key" : "Retail->Retail Store Manager"   , "link" :   "/search/label/Retail%20Store%20Manager" } , 
{ "key" : "Retail->Sales Assistant"   , "link" :   "/search/label/Sales%20Assistant" } , 
{ "key" : "Retail->Store Manager"   , "link" :   "/search/label/Store%20Manager" } , 
{ "key" : "Retail->Visual Merchandiser"   , "link" :   "/search/label/Visual%20Merchandiser" } , 
{ "key" : "Retail->Youth Department Sales Manager"   , "link" :   "/search/label/Youth%20Department%20Sales%20Manager" } , 
{ "key" : "Sales->Account Executive"   , "link" :   "/search/label/Account%20Executive" } , 
{ "key" : "Sales->Account Manager"   , "link" :   "/search/label/Account%20Manager" } , 
{ "key" : "Sales->Account Representative"   , "link" :   "/search/label/Account%20Representative" } , 
{ "key" : "Sales->Business Development Manager"   , "link" :   "/search/label/Business%20Development%20Manager" } , 
{ "key" : "Sales->Business Development Specialist"   , "link" :   "/search/label/Business%20Development%20Specialist" } , 
{ "key" : "Sales->Director Of Business Development"   , "link" :   "/search/label/Director%20Of%20Business%20Development" } , 
{ "key" : "Sales->Director Of Sales"   , "link" :   "/search/label/Director%20Of%20Sales" } , 
{ "key" : "Sales->District Sales Manager"   , "link" :   "/search/label/District%20Sales%20Manager" } , 
{ "key" : "Sales->Field Representative"   , "link" :   "/search/label/Field%20Representative" } , 
{ "key" : "Sales->Inside Sales Representative"   , "link" :   "/search/label/Inside%20Sales%20Representative" } , 
{ "key" : "Sales->Key Account Manager"   , "link" :   "/search/label/Key%20Account%20Manager" } , 
{ "key" : "Sales->Merchandiser"   , "link" :   "/search/label/Merchandiser" } , 
{ "key" : "Sales->National Account Manager"   , "link" :   "/search/label/National%20Account%20Manager" } , 
{ "key" : "Sales->National Sales Manager"   , "link" :   "/search/label/National%20Sales%20Manager" } , 
{ "key" : "Sales->Outside Sales Representative"   , "link" :   "/search/label/Outside%20Sales%20Representative" } , 
{ "key" : "Sales->Regional Sales Manager"   , "link" :   "/search/label/Regional%20Sales%20Manager" } , 
{ "key" : "Sales->Retail Merchandiser"   , "link" :   "/search/label/Retail%20Merchandiser" } , 
{ "key" : "Sales->Route Sales Representative"   , "link" :   "/search/label/Route%20Sales%20Representative" } , 
{ "key" : "Sales->Sales Associate"   , "link" :   "/search/label/Sales%20Associate" } , 
{ "key" : "Sales->Sales Consultant"   , "link" :   "/search/label/Sales%20Consultant" } , 
{ "key" : "Sales->Sales Coordinator"   , "link" :   "/search/label/Sales%20Coordinator" } , 
{ "key" : "Sales->Sales Executive"   , "link" :   "/search/label/Sales%20Executive" } , 
{ "key" : "Sales->Sales Manager"   , "link" :   "/search/label/Sales%20Manager" } , 
{ "key" : "Sales->Sales Representative"   , "link" :   "/search/label/Sales%20Representative" } , 
{ "key" : "Sales->Sales Specialist"   , "link" :   "/search/label/Sales%20Specialist" } , 
{ "key" : "Sales->Telemarketer"   , "link" :   "/search/label/Telemarketer" } , 
{ "key" : "Sales->Territory Sales Manager"   , "link" :   "/search/label/Territory%20Sales%20Manager" } , 
{ "key" : "Sales->Trader"   , "link" :   "/search/label/Trader" } , 
{ "key" : "Sales->VP of Sales"   , "link" :   "/search/label/VP%20of%20Sales" } , 
{ "key" : "Sales->Work Sales Representative"   , "link" :   "/search/label/Work%20Sales%20Representative" } , 
{ "key" : "Telecommunications->Broadband Technician"   , "link" :   "/search/label/Broadband%20Technician" } , 
{ "key" : "Telecommunications->Communications Specialist"   , "link" :   "/search/label/Communications%20Specialist" } , 
{ "key" : "Telecommunications->Telecommunications Specialist"   , "link" :   "/search/label/Telecommunications%20Specialist" } , 
{ "key" : "Telecommunications->Telecommunications Technician"   , "link" :   "/search/label/Telecommunications%20Technician" } , 
{ "key" : "Telecommunications->Wireless Consultant"   , "link" :   "/search/label/Wireless%20Consultant" } , 
{ "key" : "Telecommunications->ZURB Operator"   , "link" :   "/search/label/ZURB%20Operator" } , 
{ "key" : "Transportation/Logistics->Bus Driver"   , "link" :   "/search/label/Bus%20Driver" } , 
{ "key" : "Transportation/Logistics->Delivery Driver"   , "link" :   "/search/label/Delivery%20Driver" } , 
{ "key" : "Transportation/Logistics->Diesel Mechanic"   , "link" :   "/search/label/Diesel%20Mechanic" } , 
{ "key" : "Transportation/Logistics->Dispatcher"   , "link" :   "/search/label/Dispatcher" } , 
{ "key" : "Transportation/Logistics->Driver"   , "link" :   "/search/label/Driver" } , 
{ "key" : "Transportation/Logistics->Driver Merchandiser"   , "link" :   "/search/label/Driver%20Merchandiser" } , 
{ "key" : "Transportation/Logistics->Forklift Operator"   , "link" :   "/search/label/Forklift%20Operator" } , 
{ "key" : "Transportation/Logistics->Freight Team Associate"   , "link" :   "/search/label/Freight%20Team%20Associate" } , 
{ "key" : "Transportation/Logistics->Household Driver"   , "link" :   "/search/label/Household%20Driver" } , 
{ "key" : "Transportation/Logistics->Logistics Analyst"   , "link" :   "/search/label/Logistics%20Analyst" } , 
{ "key" : "Transportation/Logistics->Logistics Coordinator"   , "link" :   "/search/label/Logistics%20Coordinator" } , 
{ "key" : "Transportation/Logistics->Logistics Manager"   , "link" :   "/search/label/Logistics%20Manager" } , 
{ "key" : "Transportation/Logistics->Nationwide Truck Driver"   , "link" :   "/search/label/Nationwide%20Truck%20Driver" } , 
{ "key" : "Transportation/Logistics->Order Builder"   , "link" :   "/search/label/Order%20Builder" } , 
{ "key" : "Transportation/Logistics->Receiving Associate"   , "link" :   "/search/label/Receiving%20Associate" } , 
{ "key" : "Transportation/Logistics->Receiving Merchandise Pick Up Associate"   , "link" :   "/search/label/Receiving%20Merchandise%20Pick%20Up%20Associate" } , 
{ "key" : "Transportation/Logistics->Route Driver"   , "link" :   "/search/label/Route%20Driver" } , 
{ "key" : "Transportation/Logistics->Shipping Clerk"   , "link" :   "/search/label/Shipping%20Clerk" } , 
{ "key" : "Transportation/Logistics->Transportation Manager"   , "link" :   "/search/label/Transportation%20Manager" } , 
{ "key" : "Transportation/Logistics->Truck Driver"   , "link" :   "/search/label/Truck%20Driver" } , 
{ "key" : "Transportation/Logistics->Van Driver"   , "link" :   "/search/label/Van%20Driver" } , 
{ "key" : "Transportation/Logistics->Warehouse Assistant"   , "link" :   "/search/label/Warehouse%20Assistant" } , 
{ "key" : "Transportation/Logistics->Warehouse Associate"   , "link" :   "/search/label/Warehouse%20Associate" } , 
{ "key" : "Transportation/Logistics->Warehouse Clerk"   , "link" :   "/search/label/Warehouse%20Clerk" } , 
{ "key" : "Transportation/Logistics->Warehouse Driver"   , "link" :   "/search/label/Warehouse%20Driver" } , 
{ "key" : "Transportation/Logistics->Warehouse Lead"   , "link" :   "/search/label/Warehouse%20Lead" } , 
{ "key" : "Transportation/Logistics->Warehouse Manager"   , "link" :   "/search/label/Warehouse%20Manager" } , 
{ "key" : "Transportation/Logistics->Warehouse Specialist"   , "link" :   "/search/label/Warehouse%20Specialist" } , 
{ "key" : "Transportation/Logistics->Warehouse Supervisor"   , "link" :   "/search/label/Warehouse%20Supervisor" } , 
{ "key" : "Transportation/Logistics->Warehouse Worker"   , "link" :   "/search/label/Warehouse%20Worker" } , 
{ "key" : "Upper Management/Consulting->Business Analyst"   , "link" :   "/search/label/Business%20Analyst" } , 
{ "key" : "Upper Management/Consulting->Business Manager"   , "link" :   "/search/label/Business%20Manager" } , 
{ "key" : "Upper Management/Consulting->Business Office Manager"   , "link" :   "/search/label/Business%20Office%20Manager" } , 
{ "key" : "Upper Management/Consulting->Business Process Analyst"   , "link" :   "/search/label/Business%20Process%20Analyst" } , 
{ "key" : "Upper Management/Consulting->Chief Financial Officer"   , "link" :   "/search/label/Chief%20Financial%20Officer" } , 
{ "key" : "Upper Management/Consulting->Director"   , "link" :   "/search/label/Director" } , 
{ "key" : "Upper Management/Consulting->General Manager"   , "link" :   "/search/label/General%20Manager" } , 
{ "key" : "Upper Management/Consulting->Manager"   , "link" :   "/search/label/Manager" } , 
{ "key" : "Upper Management/Consulting->VP"   , "link" :   "/search/label/VP" }  
]  ;



 });
 </script>
 
</body>
</html>
